

<div class="ms-5">

  <div class="card my-3" style="width: 37rem;">

    <div class="card-body">

      <p class="card-text"><%= comment.body %></p>

      <div class="card-footer">
      
        <%= User.find_by(id: comment.author_id).user_name %>
        <% if current_user == User.find_by(id: comment.author_id) %>
          <%= link_to 'Edit', edit_post_comment_path(comment.post_id, comment) %>
          <%= link_to 'Destroy', post_comment_path(comment.post_id, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
          <div> Likes <%= comment.like_comments.all.count %> </div>
          <% unless comment.like_comments.find_by(liker: current_user) %>
            <%= link_to 'Like', like_comment_path(comment.post_id, comment) %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>

</div>