
<div class="mb-4">
  <h3><%= current_user.full_name %> aka <%= current_user.user_name %>  friend page</h3>
</div>


<table class="table">
  <% @users.each do |user| %>
    <tr>
      <td> <%= user.full_name %> </td>
      <td> <%= user.user_name %> </td>

      <% if @friend_ids.include? user.id%>
        <td>Friend <%= link_to "Remove friend", friend_path(id: user.id) , method: :delete %> </td>

      <% elsif @requester_ids.include? user.id%>
        <td> <%= button_to "Accept", friend_path(id: user.id), method: :patch  %> </td>

      <% elsif @invited_ids.include? user.id%>
        <td>Pending <%= link_to "Click to withdraw", friend_path(id: user.id) , method: :delete %> </td>

      <% else %>
        <td> <%= button_to "Add Friend", {action: "create", invited_param: user  } , method: :post %> </td>
      <% end %>
    </tr>
    
  <% end %>
</table>

