
<h1>Posts</h1>


<% @friend_posts.each do |post| %>

  <div class="card my-5" style="width: 40rem;">

    <div class="card-body">

      <p class="card-text"><%= post.post %></p>

      <div class="card-footer">
        <%= User.find_by(id: post.author_id).user_name %>
        <% if current_user == User.find_by(id: post.author_id) %>
          <%= link_to 'Show', post %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
          <div> Likes <%= post.likes.all.count %> </div>
          <% unless post.likes.find_by(liker: current_user) %>
            <%= link_to 'Like', like_post_path(post) %>
          <% end %>
          <%= link_to 'Comment', new_post_comment_path(post) %>
        <% end %>
      </div>

    </div>
  </div>

  <% post.comments.each do |comment| %>
    <%= comment.body %>
  <% end %>

<% end %>
 

<br>

<div class="mb-5">
  <%= link_to 'New Post', new_post_path %>
</div>